!!! 5
%html
  %head
    %title= "Throw It Up!"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %link{ :href => "/stylesheets/app.css", :media => "screen", :rel => "stylesheet" }
  %body
    = yield